# Custom git attributes
backend/data/New_books.jsonl filter=lfs diff=lfs merge=lfs -text
backend/data/Real_Books_data.jsonl filter=lfs diff=lfs merge=lfs -text
backend/data/Books_data.jsonl filter=lfs diff=lfs merge=lfs -text
